<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../public/css/style.css" />
    <meta name="theme-color" content="#7952b3">
    <title>Forfaits Experts</title>
</head>




<body>
    <div class="container-fluid">
        <div class="row">
            <h1 class="col-12" style="font-size: 24; font-weight: bold; height: 150px; background-color: #f8bb58;">
                XPERTSOURCE</h1>
        </div>

        <main id="main" style="padding: 100px;">
            <div class="row" style="background-color: #2C7FC1; color: white; text-align: center;">
                <h1 class=" col-12 text-center  title  ">Les forfaits Expert</h1>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-12">
                        <h6><%= subscription[0].contact_firstname%> - <%= subscription[0].contact_lastname%></h6>
                        <h6>UID:<%= services[0].uid_contractor%></h6>

                        <button type="button" class="w-100   btn" data-bs-toggle="modal" data-bs-target="#modallistplan"
                            id="butsohwforfait">Vos forfaits actifs</button>
                    </div>
                </div>
                <div class="col-12">
                    <!-- Modal -->
                    <div class="modal fade" id="modallistplan" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Liste des forfaits Actifs</h5>
                                </div>
                                <div class="modal-body">
                                    <table class="col-12 table">
                                        <thead>
                                            <tr>
                                                <th scope="row">Territoire</th>
                                                <th scope="col">Service</th>
                                                <th scope="col">Forfait</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <table class="table">
                                        <tbody>
                                            <% for(listC of listContrat) { %>
                                            <tr style="border-bottom: 2px solid #2C7FC1;">
                                                <td>
                                                    <%=listC.territoire%>
                                                <td>
                                                <td>
                                                    <%= listC.name_fr%>
                                                <td>
                                                <td>
                                                    <%=listC.forfait%>
                                                <td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">fermer</button>

                                </div>
                            </div>
                        </div>
                    </div>


                    <input type="hidden" value="<%=subscription[0].uidcontractor%>" id="uidcontractor"
                        name="uidcontractor" />
                </div>

            </div>
            <div class="row " style="background-color: #e8e8e8;">
                <div class="col-xl-2 col-sm-1"></div>
                <div class="col-xl-10 col-sm-10">
                    <form action="" style=" margin-bottom:40px;" id="form" class="row">
                        <div class="col-xl-5">
                            <label class=" label-form  col-xl-1 col-sm-2">Service</label>
                            <select class="form-control col-sm-8  col-xl-10 col-12 text-center " name="service" required
                                id="service">
                                <option value="null" class="text-center">
                                    ----choisir un
                                    Service------
                                </option>
                                <% for(ser of services) { %>
                                <option value=" <%=ser.uid_service%>">
                                    <%= ser.service%>-<%=ser.uid_service%>
                                </option>
                                <% } %>

                            </select>
                        </div>
                        <div class="col-xl-5">
                            <label class=" text-center label-form  col-xl-1 col-sm-2 col-12">Territoire</label>
                            <select class="form-control col-sm-8  col-xl-11 col-12 text-center " name="territoire"
                                required id="territoire">
                                <option value="null" class="text-center">
                                    ----------choisir un
                                    Territoire--------------------
                                </option>
                                <% for(terr of territoires) { %>
                                <option value="<%= terr.uid_territory %>">
                                    <%=terr.territory_name %>(<%=terr.uid_territory%>)
                                </option>
                                <% } %>

                            </select>
                        </div>


                </div>
                <div class="col-xl-1 col-sm-1"></div>

                </form>

            </div>
            <div class="row">
                <div class="col-5"></div>
                <button id="buttSearch" class="col-2 btn">Afficher les forfaits</button>
                <div class="col-5"></div>
            </div>
            <div class="row">
                <h2 class=" col-sm-12 col-xs-1 text-center title  ">3 forfaits offerts</h2>
            </div>

            <div class="row " id="list_forfait">
                <div class="col col-sm-12 col-md-12 col-xl-4" style="background-color:#2C7FC1">
                    <div class="card mb-4">
                        <div class="card-header py-3 border-warning">
                            <h4 class="my-0  card-title pricing-card-title text-center">Platine</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title  text-center border-warning">$500<small class="text-muted">/mo</small>
                            </h1>
                            <ul>
                                <li>Un seul expert par territoire peut avoir le forfait Platine ;</li>
                                <li>L’expert qui a le forfait platine reçoit 100% des projets en priorité ;</li>
                                <li>Il a 60 minutes pour accepter la mise en relation ou ignorer le projet ;</li>
                                <li>Après 60 minutes, le projet continu de circuler.</li>
                            </ul>
                            <div class="row">
                                <div class="col-4"></div>
                                <button type="button" class="w-100  col-4 btn" data-bs-toggle="modal"
                                    data-bs-target="#modalplat" id="butPlat">choisir</button>
                                <div class="col-4"></div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="modalplat" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>

                                        </div>
                                        <div class="modal-body">
                                            Vous Avez choisi le forfait <h4>Platine</h4><br>
                                            <h4>Prix: 500$</h4><br>
                                            <h4><%= services.service%></h4>
                                            Veuillez confirmer votre choix
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Non</button>
                                            <button type="button" class="btn" id="plat_confirm">Oui</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="col" id="Platine" style="display: none;">indisponible</h3>
                        </div>
                    </div>

                </div>
                <div class="col col-sm-12 col-md-12 col-xl-4" style="background-color: #2C7FC1;">
                    <div class="card mb-4">
                        <div class="card-header py-3 border-warning">
                            <h4 class="my-0  card-title pricing-card-title text-center">Or</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title  text-center border-warning">$250<small class="text-muted">/mo</small>
                            </h1>
                            <ul>
                                <li>Deux experts maximum par territoire peuvent avoir le forfait Or ;</li>
                                <li>Les experts du forfait Or reçoivent la proposition du projet<br> en seconde
                                    priorité.
                                    (Après l’expert du forfait Platine) ;</li>
                                <li>Ils ont 60 minutes pour accepter la mise en relation ou ignorer le projet ;</li>
                                <li>Après 60 minutes, le projet continu de circuler s'il est encore disponible.</li>
                            </ul>
                            <div class="row">
                                <div class="col-4"></div>
                                <button type="button" class="w-100 btn  col-4" data-bs-toggle="modal"
                                    data-bs-target="#modalOr" id="butOR">choisir</button>
                                <div class="col-4"></div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="modalOr" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                        </div>
                                        <div class="modal-body">
                                            Vous Avez choisi le forfait Or<br>Veuillez confirmer votre choix
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Non</button>
                                            <button type="button" class="btn " id="Or_confirm">Oui</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h3 class="col" id="Or" style="display: none;">indisponible</h3>


                        </div>

                    </div>
                </div>


                <div class="col col-sm-12 col-md-12 col-xl-4" style="background-color: #2C7FC1;">
                    <div class="card mb-4">
                        <div class="card-header py-3 border-warning">
                            <h4 class="my-0  card-title pricing-card-title text-center">Croissance 1</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title  text-center border-warning">$100<small class="text-muted">/mo</small>
                            </h1>
                            <ul>
                                <li>Cinq experts maximum par territoire peuvent avoir le forfait Croissance ;</li>
                                <li>Les experts du forfait Croissance reçoivent la proposition du projet en troisième
                                    priorité. (Après les experts du forfait Or) ;</li>
                                <li>Ils ont 60 minutes pour accepter la mise en relation ou ignorer le projet ;</li>
                                <li>Après 60 minutes, le projet continu de circuler aléatoirement s'il est encore
                                    disponible. </li>
                            </ul>
                            <div class="row">
                                <div class="col-4"></div>
                                <button type="button" class="w-100 btn   col-4" data-bs-toggle="modal"
                                    data-bs-target="#modalcroissant" id="butCro">choisir</button>
                                <div class="col-4"></div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="modalcroissant" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                        </div>
                                        <div class="modal-body">
                                            Vous Avez choisi le forfait croissant 1<br>Veuillez confirmer votre
                                            choix
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Non</button>
                                            <button type="button" class="btn " id="Cr_confirm">Oui</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="col" id="Croissant" style="display: none;">
                                indisponible
                            </h3>
                        </div>

                    </div>

                </div>


            </div>

            <div class="row text-center">
                <div class="col-1"></div>
                <div class="col-10">
                    <p id="common">Vous avez une heure pour décider d’accepter ou ignorer la
                        mise en
                        relation avant que
                        le
                        projet circule au forfait inférieur selon les disponibilités restantes</p>
                </div>

            </div>

            <div class="row  text-center footer" style="background-color: #e8e8e8;">
                <img src="../public/images/forfait.png" class="col-sm-7 col-xl-8 col-md-12" />
            </div>

        </main>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script>
        $(document).ready(function () {
            var uidcontractor = $("#uidcontractor").val();
            var service = $("#service").val();
            if ((service == 'null') || (territoire == 'null')) {
                document.getElementById("butCro").style.display = 'none';
                document.getElementById("butOR").style.display = 'none';
                document.getElementById("butPlat").style.display = 'none';
            } else {
                document.getElementById("butCro").style.display = 'block';
                document.getElementById("butOR").style.display = 'block';
                document.getElementById("butPlat").style.display = 'block';
            }



            $("#buttSearch").click(function (event) {
                event.preventDefault()
                var territoire = document.getElementById("territoire").value;
                var service = document.getElementById("service").value;
                console.log(service)

                $.ajax({
                    type: 'GET',
                    url: '/handleterritory/territoire',
                    data: {
                        territoire: territoire,
                        service: service
                    },

                    success: function (data) {
                        var nbCroissant = 0;
                        var nbOR = 0;
                        total = 0;
                        var nbPlatine = 0;
                        for (var i = 0; i < data.terr_avalaible.length; i++) {
                            if (data.terr_avalaible[i].uid_subscription_plan == 3) {

                                console.log(data.terr_avalaible[i].forfait);
                                nbCroissant += 1;
                            } else if (data.terr_avalaible[i].uid_subscription_plan ==
                                4) {
                                nbOR += 1;
                                console.log(data.terr_avalaible[i].forfait);
                            } else if (data.terr_avalaible[i].uid_subscription_plan ==
                                9) {

                                nbPlatine += 1;
                            } else {
                                console.log(data.terr_avalaible[i].forfait);
                            }

                        }

                        if (nbCroissant >= 5) {

                            document.getElementById("Croissant").style.display =
                                'block';
                            document.getElementById("butCro").style.display = 'none';

                        }
                        if (nbCroissant < 5) {
                            document.getElementById("butCro").style.display = 'block';
                            document.getElementById("Croissant").style.display = 'none';


                        }
                        if (nbOR >= 2) {
                            document.getElementById("Or").style.display = 'block';
                            document.getElementById("butOR").style.display = 'none';
                        }
                        if (nbOR < 2) {
                            document.getElementById("butOR").style.display = 'block';
                            document.getElementById("Or").style.display = 'none';
                        }
                        if (nbPlatine >= 1) {
                            document.getElementById("Platine").style.display = 'block';
                            document.getElementById("butPlat").style.display = 'none';

                        }
                        if (nbPlatine < 1) {
                            document.getElementById("Platine").style.display = 'none';
                            document.getElementById("butPlat").style.display = 'block';

                        }






                    },
                    error: function (err) {
                        console.log(err)
                    }
                })

            });



            $("#Cr_confirm").click(function (event) {
                event.preventDefault();
                var uidcontractor = $("#uidcontractor").val();
                var territoire = $("#territoire").val();
                $.ajax({
                    type: 'post',
                    url: '/handleCroissant/uidcontractor',
                    data: {
                        uidcontractor: uidcontractor,
                        territoire: territoire
                    },
                    success: function (data) {
                        console.log(data)
                        document.getElementById("main").style.display = 'none';

                    },
                    error: function (err) {
                        console.log(err);
                    }
                })

            })
            $("#plat_confirm").click(function (event) {
                event.preventDefault();
                var uidcontractor = $("#uidcontractor").val();
                var territoire = $("#territoire").val();
                console.log(uidcontractor)
                $.ajax({
                    type: 'post',
                    url: '/handlePlatine/uidcontractor',
                    data: {
                        uidcontractor: uidcontractor,
                        territoire: territoire
                    },
                    success: function (data) {
                        console.log(data)

                    },
                    error: function (err) {
                        console.log(err);
                    }
                })

            })



            $("#Or_confirm").click(function (event) {
                event.preventDefault();
                var uidcontractor = $("#uidcontractor").val();
                var territoire = $("#territoire").val();
                console.log(uidcontractor)
                $.ajax({
                    type: 'post',
                    url: '/handleOr/uidcontractor',
                    data: {
                        uidcontractor: uidcontractor,
                        territoire: territoire
                    },
                    success: function (data) {
                        console.log(data)

                    },
                    error: function (err) {
                        console.log(err);
                    }
                })



            })
            /*$("#butsohwforfait").onmouse(function (event) {
                var uidcontractor = $("#uidcontractor").val();
                console.log(uidcontractor)
                $.ajax({
                    type: 'get',
                    url: '/showContract/uidcontractor',
                    data: {
                        uidcontractor: uidcontractor,
                    },
                    success: function (data) {
                        for (var i = 0; i < data.listContrat.length; i++) {
                            $("#forfait_actifs").html("<li>" + data.listContrat[i]
                                .name_fr + "-" + data.listContrat[i].forfait)
                        }

                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            })*/

        })
    </script>
</body>

</html>